@use 'fonts.css' as *;

$text-color: #000;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    // margin-top: 168px;
    margin-top: 48px;
}

ul,
ol {
    list-style: none;
}

a,
button {
    transition: all .2s ease;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // object-position: top top;
}

.container {
    width: min(90%, 1680px);
    margin: 0 auto;
}

.page-wrapper>.container {
    margin-top: 108px;
}

body {
    color: $text-color;
    font-family: "GeneralSans", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    min-width: 320px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;

    main {
        flex-grow: 1;
    }
}


.img-wrap {
    // aspect-ratio: 4/3;
    max-width: 280px;
}

//  <== ART & LIFE ==>
.slogan {
    margin-bottom: 48px;
    text-align: center;
    max-width: unset;
    width: 100%;
    max-height: unset;

    svg {
        height: 100%;
        width: 100%;
    }
}

//  <== NEWS TICKER ==>
.news-ticker {
    margin-bottom: 75.71px;
}

// <== LEAD ARTICLE ==>
.lead-article {
    // padding-top: 75.71px;
    margin-bottom: 50.29px;

    @media screen and (max-width: 896px) {
        margin-bottom: 100.58px;
    }
}