:root {
    form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 70px;

        hgroup {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        hgroup p {
            font-size: 1rem;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
        }

        h2 {
            color: #F9F9F9;
            font-size: 5rem;
            font-weight: 600;
            line-height: 110%;
            text-transform: uppercase;
            max-width: 790px;
        }

        .labels {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
            flex: 1 1 309px;
        }

        .invalid {
            border: 2px solid red;
        }

        input {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        form {
            h2 {
                font-size: 3rem;

            }

            .labels {
                width: 100%;
            }
        }

    }
}