.detail-back-type {
    display: flex;
    justify-content: space-between;

    .type {
        font-size: 2rem;
        font-weight: 600;
        line-height: 110%;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 768px) {
    .detail-back-type {
        .type {
            font-size: 1.5rem;
        }
    }
}