.listen-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;

    li svg {
        height: 24px;
        width: 24px;
        fill: #000;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .inverted svg {
        fill: #fff;
    }

    a {
        opacity: 1;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    a:hover {
        svg {
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
    }

    a:active {
        opacity: 0.6;
    }
}