.podcast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    padding: 11.4627%;
    height: max-content;
    position: relative;

    &.horizontal {
        flex-direction: row;
        padding: 0;
        gap: 64px;
        // flex-wrap: wrap;

        .ep-num {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 120%;
        }

        &>.link-hover {
            flex: 0 1 240px;
            width: 100%;
            margin-bottom: 0;

            .img-wrap {
                max-height: 300px;
                max-width: 300px;
                aspect-ratio: 1 / 1;

                .color-layer hgroup h4 {
                    font-size: clamp(1.5rem, 2vw, 3.17969rem);
                }
            }
        }

        .content {
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            gap: 32px;
            flex: 1 1 500px;

            &>.link-hover {
                flex: 0 1 450px;
            }

            h3 {
                margin-bottom: 0;
            }

            .info {
                flex: 0 1 300px;

                &>ul {
                    width: max-content;
                    justify-self: end;
                }
            }
        }
    }

    &>.link-hover {
        margin-bottom: 32px;
    }

    .img-wrap {
        position: relative;
        max-width: unset;

        img {
            // filter: hue-rotate(180deg);
            filter: grayscale(1);
            transition: filter 0.3s ease;
        }

        .color-layer {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            color: #fff;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            padding: 11.03% 6.98% 7.278% 10.4%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // background-color: rgba($color: #BBD2D5, $alpha: 0.5);
            // background-color: rgba($color: #9C667D, $alpha: 0.5);
            // background-color: rgba($color: #D1D9B5, $alpha: 0.5);
            // background-color: rgba($color: #D79C7E, $alpha: 0.5);
            // background-color: rgba($color: #48A1B9, $alpha: 0.5);


            .misc {
                display: flex;
                justify-content: space-between;
            }

            hgroup {
                h4 {
                    font-size: clamp(2rem, 3vw, 3.17969rem);
                }

                p {
                    font-size: clamp(1.25rem, 3vw, 1.58981rem);
                }
            }

            .episode {
                font-size: clamp(1.25rem, 3vw, 1.58981rem);
            }

            .arrow {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-right: 3px solid #fff;
                border-bottom: 3px solid #fff;
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    rotate: 45deg;
                    border-bottom: 3px solid #fff;
                    top: -10px;
                    left: 23px;
                }
            }
        }
    }

    .content {
        text-align: start;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        h3 {
            font-size: clamp(1.5rem, 3vw, 2rem);
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 48px;
        }

        li {
            font-size: 0.875rem;
            font-weight: 400;
            display: inline-block;

            &:not(:last-child) {
                margin-right: 16px;
            }
        }

        .param {
            font-weight: 600;
            margin-right: 8px;
        }
    }

    &:has(.link-hover:hover) img {
        filter: grayscale(0);
    }
}

@media screen and (max-width: 1024px) {
    .podcast-card {
        &.horizontal {
            flex-wrap: wrap;
            flex-direction: column;

            &>.link-hover {
                flex: 0;

                .img-wrap {
                    justify-self: center;
                    max-width: 400px;
                    max-height: 400px;
                }
            }

            .content {
                justify-content: center;
                flex-direction: column;
                flex: 0;

                &>.link-hover {
                    flex: 0;
                    text-align: center;
                }

                .info {
                    flex: 0;

                    >ul {
                        flex: 0;
                        justify-self: center;
                    }
                }
            }

            .ep-num {
                font-size: 2.5rem;
            }
        }

        .content li {
            font-size: 1.125rem;
        }

        .podcast-card {
            &.horizontal {
                flex-wrap: wrap;
                flex-direction: column;

                &>.link-hover {
                    flex: 0;

                    .img-wrap {
                        justify-self: center;
                        max-width: 400px;
                        max-height: 400px;
                    }
                }

                .content {
                    justify-content: center;
                    flex-direction: column;
                    flex: 0;

                    &>.link-hover {
                        flex: 0;
                        text-align: center;
                    }

                    .info {
                        flex: 0;

                        >ul {
                            flex: 0;
                            justify-self: center;
                        }
                    }
                }

                .ep-num {
                    font-size: 2.5rem;
                }
            }

            .content li {
                font-size: 1.125rem;
            }
        }
    }
}