.podcast-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    // justify-content: space-between;
    padding: 11.4627%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: relative;

    &.horizontal {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0;
        gap: 64px;
        // flex-wrap: wrap;

        .ep-num {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 120%;
        }

        &>.link-hover {
            -webkit-box-flex: 0;
            -ms-flex: 0 1 240px;
            flex: 0 1 240px;
            width: 100%;
            margin-bottom: 0;

            .img-wrap {
                max-height: 300px;
                max-width: 300px;
                aspect-ratio: 1 / 1;

                .color-layer {
                    hgroup {
                        h4 {
                            font-size: clamp(1.125rem, 2vw, 1.875rem);
                        }

                        p {
                            font-size: clamp(0.9375rem, 2vw, 0.9375rem);
                        }
                    }

                    .episode {
                        font-size: clamp(0.9375rem, 2vw, 0.9375rem);
                        height: -webkit-max-content;
                        height: -moz-max-content;
                        height: max-content;
                        -ms-flex-item-align: end;
                        align-self: end;
                    }
                }
            }
        }

        .content {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            gap: 32px;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 500px;
            flex: 1 1 500px;

            &>.link-hover {
                -webkit-box-flex: 0;
                -ms-flex: 0 1 450px;
                flex: 0 1 450px;
            }

            h3 {
                margin-bottom: 0;
            }

            .info {
                -webkit-box-flex: 0;
                -ms-flex: 0 1 300px;
                flex: 0 1 300px;

                &>ul {
                    width: -webkit-max-content;
                    width: -moz-max-content;
                    width: max-content;
                    justify-self: end;
                }
            }
        }
    }

    &>.link-hover {
        margin-bottom: 32px;
    }

    .img-wrap {
        position: relative;
        max-width: unset;

        img {
            -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
            -webkit-transition: -webkit-filter 0.4s ease;
            transition: -webkit-filter 0.4s ease;
            -o-transition: filter 0.4s ease;
            transition: filter 0.4s ease;
            transition: filter 0.4s ease, -webkit-filter 0.4s ease;
        }

        .color-layer {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            color: #fff;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            padding: 11.03% 6.98% 7.278% 10.4%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            background-color: transparent;



            .misc {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }

            hgroup {
                h4 {
                    font-size: clamp(2rem, 3vw, 3.17969rem);
                }

                p {
                    font-size: clamp(1.25rem, 3vw, 1.58981rem);
                }
            }

            .episode {
                font-size: clamp(1.25rem, 3vw, 1.58981rem);
            }

            .arrow {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-right: 3px solid #fff;
                border-bottom: 3px solid #fff;
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    rotate: 45deg;
                    border-bottom: 3px solid #fff;
                    top: -10px;
                    left: 23px;
                }
            }
        }
    }

    .content {
        text-align: start;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        h3 {
            font-size: clamp(1.5rem, 3vw, 2rem);
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 48px;
        }

        li {
            font-size: 0.875rem;
            font-weight: 400;
            display: inline-block;

            &:not(:last-child) {
                margin-right: 16px;
            }
        }

        .param {
            font-weight: 600;
            margin-right: 8px;
        }
    }

    &:has(.link-hover:hover) {
        .img-wrap .color-layer {
            background-color: transparent;
        }

        img {
            -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
        }
    }


}

@media screen and (max-width: 1024px) {
    .podcast-card {
        &.horizontal {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            &>.link-hover {
                -webkit-box-flex: 0;
                -ms-flex: 0;
                flex: 0;

                .img-wrap {
                    justify-self: center;
                    max-width: 400px;
                    max-height: 400px;
                }
            }

            .content {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-flex: 0;
                -ms-flex: 0;
                flex: 0;

                &>.link-hover {
                    -webkit-box-flex: 0;
                    -ms-flex: 0;
                    flex: 0;
                    text-align: center;
                }

                .info {
                    -webkit-box-flex: 0;
                    -ms-flex: 0;
                    flex: 0;

                    >ul {
                        -webkit-box-flex: 0;
                        -ms-flex: 0;
                        flex: 0;
                        justify-self: center;
                    }
                }
            }

            .ep-num {
                font-size: 2.5rem;
            }
        }

        .content li {
            font-size: 1.125rem;
        }

        .podcast-card {
            &.horizontal {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                &>.link-hover {
                    -webkit-box-flex: 0;
                    -ms-flex: 0;
                    flex: 0;

                    .img-wrap {
                        justify-self: center;
                        max-width: 400px;
                        max-height: 400px;
                    }
                }

                .content {
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-flex: 0;
                    -ms-flex: 0;
                    flex: 0;

                    &>.link-hover {
                        -webkit-box-flex: 0;
                        -ms-flex: 0;
                        flex: 0;
                        text-align: center;
                    }

                    .info {
                        -webkit-box-flex: 0;
                        -ms-flex: 0;
                        flex: 0;

                        >ul {
                            -webkit-box-flex: 0;
                            -ms-flex: 0;
                            flex: 0;
                            justify-self: center;
                        }
                    }
                }

                .ep-num {
                    font-size: 2.5rem;
                }
            }

            .content li {
                font-size: 1.125rem;
            }
        }

        .podcast-card {
            &.horizontal {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                &>.link-hover {
                    -webkit-box-flex: 0;
                    -ms-flex: 0;
                    flex: 0;

                    .img-wrap {
                        justify-self: center;
                        max-width: 400px;
                        max-height: 400px;
                    }
                }

                .content {
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-flex: 0;
                    -ms-flex: 0;
                    flex: 0;

                    &>.link-hover {
                        -webkit-box-flex: 0;
                        -ms-flex: 0;
                        flex: 0;
                        text-align: center;
                    }

                    .info {
                        -webkit-box-flex: 0;
                        -ms-flex: 0;
                        flex: 0;

                        >ul {
                            -webkit-box-flex: 0;
                            -ms-flex: 0;
                            flex: 0;
                            justify-self: center;
                        }
                    }
                }

                .ep-num {
                    font-size: 2.5rem;
                }
            }

            .content li {
                font-size: 1.125rem;
            }
        }
    }
}