.articles-section {
    .article-item:not(:last-child) {
        padding-bottom: 48px;
        margin-bottom: 48px;
        border-bottom: 1px solid #000;
    }


    .section-content {
        margin-bottom: 96px;
        position: relative;

        &.sidebar {
            display: grid;
            grid-template-columns: 1fr 369px;
            gap: 96px;
        }
    }

    &.vertical {
        .articles {
            background-color: #000;
            gap: 1px;
            padding: 1px;
            display: flex;
            flex-wrap: wrap;
        }

        .article-item {
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
            background-color: #fff;
            flex: 1 1 calc(409px - 2px);
        }
    }
}

@media screen and (max-width: 597px) {
    .articles-section {

        &.vertical {
            .articles {
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            }
        }
    }

}