.articles-section {
    .article-item:not(:last-child) {
        padding-bottom: 48px;
        margin-bottom: 48px;
        border-bottom: 1px solid #000;
    }


    .section-content {
        margin-bottom: 96px;
        position: relative;

        &.sidebar {
            display: grid;
            grid-template-columns: 1fr 369px;
            gap: 96px;
        }
    }

    &.vertical {
        .articles {
            background-color: #000;
            gap: 1px;
            padding: 1px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .article-item {
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
            background-color: #fff;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 419px;
            flex: 1 1 419px;
        }
    }
}

@media screen and (max-width: 1232px) {
    .articles-section {
        .section-content {
            &.sidebar {
                grid-template-columns: 2fr 1fr;
            }
        }
    }
}

@media screen and (max-width: 896px) {
    .articles-section {
        .section-content {
            &.sidebar {
                grid-template-columns: 1fr;

                .sidebar {
                    max-width: unset;
                    justify-self: center;
                }
            }
        }
    }

}