 .detail-content-sidebar {
     position: sticky;
     height: max-content;
     top: 96px;
     background-color: #fff;

     .podcast-info {
         padding-bottom: 48px;
         border-bottom: 1px solid #000;
         margin-bottom: 32px;

         .img-wrap {
             max-width: 350px;
             border-radius: 0;
             margin-bottom: 32px;

             .color-layer {
                 position: absolute;
                 width: 100%;
                 height: 100%;
                 z-index: 1;
                 color: #fff;
                 font-weight: 600;
                 line-height: normal;
                 text-transform: uppercase;
                 padding: 11.03% 6.98% 7.278% 10.4%;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-between;
                 // background-color: rgba($color: #BBD2D5, $alpha: 0.5);
                 // background-color: rgba($color: #9C667D, $alpha: 0.5);
                 // background-color: rgba($color: #D1D9B5, $alpha: 0.5);
                 // background-color: rgba($color: #D79C7E, $alpha: 0.5);
                 // background-color: rgba($color: #48A1B9, $alpha: 0.5);


                 .misc {
                     display: flex;
                     justify-content: space-between;
                 }

                 hgroup {
                     h4 {
                         font-size: clamp(2rem, 3vw, 3.17969rem);
                     }

                     p {
                         font-size: clamp(1.25rem, 3vw, 1.58981rem);
                     }
                 }

                 .episode {
                     font-size: clamp(1.25rem, 3vw, 1.58981rem);
                 }

                 .arrow {
                     display: inline-block;
                     width: 50px;
                     height: 50px;
                     border-right: 3px solid #fff;
                     border-bottom: 3px solid #fff;
                     position: relative;

                     &::before {
                         content: '';
                         display: block;
                         width: 50px;
                         height: 50px;
                         position: absolute;
                         rotate: 45deg;
                         border-bottom: 3px solid #fff;
                         top: -10px;
                         left: 23px;
                     }
                 }
             }
         }

         .listen-on {
             display: flex;
             justify-content: space-between;

             h3 {
                 font-size: 1.25rem;
                 font-weight: 600;
                 line-height: 160%;
             }
         }
     }

     .author-info {
         display: flex;
         gap: 16px;
         align-items: center;
         padding-bottom: 32px;
         border-bottom: 1px solid #000;
         margin-bottom: 32px;

         h3 {
             max-width: 229px;
             display: inline-block;
             font-size: 2rem;
             font-weight: 600;
             line-height: 120%;
         }
     }

     .img-wrap {
         aspect-ratio: 1 / 1;
         width: 100%;
         max-width: 80px;
         border-radius: 50%;
         overflow: hidden;
         filter: grayscale(1);
         transition: all 0.3s ease;
     }

     .article-info {
         li {
             font-size: 1rem;
             font-weight: 400;
             line-height: 180%;
             display: flex;
             justify-content: space-between;
         }

         li:not(:last-child) {
             margin-bottom: 16px;
         }

         .param {
             font-size: 1rem;
             font-weight: 600;
             line-height: 180%;
         }
     }
 }

 @media screen and (max-width: 896px) {

     .detail-content-text {
         order: 1;
     }

     .detail-content-sidebar {
         order: 2;

         .author-info {
             flex-wrap: wrap;
         }
     }
 }