header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    height: 60px;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    &:has(.active) {
        background-color: #fff;
    }
}


header .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    height: 100%;
    // padding: 16px 0;
}

header nav {
    display: inline-block;
    height: 27px;

    .nav-list {
        font-size: 0;
        height: 100%;
        -ms-flex-line-pack: center;
        align-content: center;

        li {
            display: inline-block;
            font-size: 1.25rem;
            margin-right: 24px;
            height: 100%;
        }
    }
}

.divider {
    width: 15px;
    height: 1px;
    background-color: #000;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

header .link,
header .img-wrap {
    display: inline-block;
    max-height: 18px;
}

.hamburger-react {
    display: none;
    z-index: 1001;
}

@media screen and (max-width: 896px) {

    nav .nav-list li:has(.divider) {
        display: none;

        &~li {
            display: none;
        }
    }

    .hamburger-react {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    nav .nav-list {
        display: none;
    }
}