header {
    position: sticky;
    z-index: 1000;
    height: 60px;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

header nav {
    display: inline-block;
    height: 27px;

    .nav-list {
        font-size: 0;
        height: 100%;
        align-content: center;

        li {
            display: inline-block;
            font-size: 1.25rem;
            margin-right: 24px;
            height: 100%;
        }
    }
}

.divider {
    width: 15px;
    height: 1px;
    background-color: #000;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

header .link,
header .img-wrap {
    display: inline-block;
    max-height: 18px;
}

@media screen and (max-width: 896px) {

    nav .nav-list li:has(.divider) {
        display: none;

        &~li {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {
    nav .nav-list {
        display: none;
    }
}