header {
    position: fixed;
    height: 60px;
    top: 40px;
    width: inherit;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 16px 0;
}

nav {
    display: inline-block;
    height: 27px;

    .nav-list {
        font-size: 0;
        height: 100%;
        align-content: center;

        li {
            display: inline-block;
            font-size: 1.25rem;
            margin-right: 24px;
            height: 100%;

            a {
                color: #000;
                line-height: normal;
            }
        }
    }

    .divider {
        width: 15px;
        height: 1px;
        background-color: #000;
        display: inline-block;
        position: relative;
        vertical-align: middle;
    }

    .link,
    .img-wrap {
        display: inline-block;
        max-height: 18px;
    }
}