.categories-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    h4 {
        font-size: 1rem;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        display: inline-block;
        height: 100%;
    }

    ul,
    li,
    button {
        line-height: 0;
    }

    .categories {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 12px;
        max-height: 32px;

    }

    li {
        display: inline-block;
        height: 100%;
    }
}