.article-card {
    display: grid;
    grid-template-columns: 240px auto;
    gap: 48px;

    .img-wrap {
        max-width: unset;
        max-height: 400px;
        width: 100%;
        aspect-ratio: 1;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
    }

    h3 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 12px;
    }

    .text {
        p {
            font-size: 1rem;
            line-height: 180%;
        }
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        bottom: 0;
        gap: 16px;
    }

    .info li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 24px;
        }

        .param {
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 160%;
            margin-right: 8px;
        }

        font-size: 0.875rem;
        line-height: 160%;
    }

    &.vertical {
        grid-template-columns: 1fr;
        padding: 9.5493%;
    }
}

@media screen and (max-width: 896px) {
    .article-card {
        grid-template-columns: 1fr;

        .info {

            li,
            li .param {
                font-size: 1.25rem;
            }

            .text>p {
                font-size: 1.5rem;
                line-height: 160%;
            }
        }

        &.vertical {
            padding: 4.77465%;
        }
    }

}

@media screen and (max-width: 425px) {
    .article-card {
        .info li:not(:last-child) {
            margin-right: 0px;
        }


        .info {
            ul {
                width: 50%;
            }

            li {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-overflow: ellipsis;

                &:hover {
                    white-space: normal;
                    overflow: visible;
                    text-overflow: unset;
                }
            }
        }

    }
}