.news-ticker {
    height: 70px;
    background-color: #000;
    color: #fff;
    display: flex;
    position: relative;
    overflow: hidden;

    .title {
        padding: 20px;
        font-size: 1.375rem;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        display: inline-block;
        width: max-content;
        height: 100%;
        background-color: #000;
        z-index: 1;
    }

    .news-list {
        top: 0;
        align-items: center;
        width: max-content;
        height: 100%;
        display: flex;
        gap: 24px;
        position: absolute;
    }
}