.podcasts-section {
    .podcast-list {
        display: flex;
        flex-wrap: wrap;
        padding: 1px;
        gap: 1px;
        background-color: #000;

        &>li {
            background-color: #fff;
            flex: 1 1 450px;

            @for $i from 1 through 5 {
                &:nth-child(#{$i}n) {
                    .color-layer {
                        background-color: rgba($color: nth((#BBD2D5, #9C667D, #D1D9B5, #D79C7E, #48A1B9), $i), $alpha: 0.2);
                    }
                }
            }
        }

        &:has(.horizontal) {
            background-color: transparent;

            &>li {
                flex: 1 1 100%;
                padding-bottom: 48px;
                margin-bottom: 48px;

                &:not(:last-child) {
                    border-bottom: 1px solid #000;

                }
            }
        }
    }

}