form {
    button {
        background-color: #fff;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        color: #000;
        height: 50px;
        border: none;
        width: 100%;
        padding: 4px 24px;
    }
}